html,
[data-theme='light'] {
  --black: #000;
  --white: #fff;
  --green: #2ECC40;
  --blue: #0074D8;
  --red: #FF4132;
  --orange: #FF851A;
  --yellow: #ffcd36;
  --primary: var(--blue);
  --accent: #E3F2FD;
  --active:#ECEFF1;
  --focus: 2px rgba(39, 94, 254, .3);
  --hover:#ECF4FD;
  --txt: #14191f;
  --txt-r: var(--white);
  --bg: #fff;
  --bg2: #F6FAFD;
  --bg3: #edf0f2;
  --brd: #E5E9ED;
  --brd2: #a8afb6;
  --bg-nav: var(--bg);
  --bg-nav-hover: var(--hover);
  --bb-nav: var(--primary);
  --bg-input: #fff;
  --brd-input: #B6BEC5;
  --bg-disabled: #EEF2F5;
  --bg-btn: var(--primary);
  --bg-btn-hover: inset 0 0 100px 100px #ffffff20;
  --txt-btn: var(--white);
  --brd-btn: var(--primary);
  --bg-card: var(--bg);
  --bg-details: var(--bg2);
  --bg-details-open: var(--primary);
  --txt-details-open: var(--txt-r);
  --bg-aside: transparent;
  --shadow-aside: none;
  --bg-tabs: var(--bg);
  --brd-tabs-l: var(--primary);
  --fake-brd-table: inset 0 0px 0px 1px rgb(0 0 0 / 16%);
  --bg-table-hover: var(--bg3);
  --brd-table: var(--bg3);
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --radius: .4rem;
}

[data-theme="dark"] {
  --black: #060609;
  --white: #f2f4f7;
  --blue: #4dacff;
  --green: #67e5a8;
  --red: #ff564d;
  --orange: #ff9f4d;
  --yellow: #ffd24d;
  --txt: #f2f4f7;
  --txt-r: #14191f;
  --bg3: #2F3C53;
  --bg2: #263349;
  --bg: #1E2A41;
  --bg-nav: var(--bg);
  --bg-nav-hover: var(--bg2);
  --bg-input: var(--bg);
  --brd-input: #576d97;
  --bg-disabled: var(--bg);
  --bg-btn: var(--primary);
  --bg-btn-hover: inset 0 0 100px 100px #00000033;
  --brd-btn: var(--primary);
  --txt-btn: var(--black);
  --bg-card: var(--bg2);
  --shadow: none;
}

[data-theme="light"] .light-icon,
[data-theme="dark"] .dark-icon {
    display: block !important;
}

.theme-icon {
    display: none;
}

.theme-icon>svg {
    fill: var(--txt);
}

/* ---------------- Basic resets and improvements --------------- */
*,
*:after,
*:before {
  box-sizing: border-box;
  border-spacing: 0;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 13pt;
  scroll-behavior: smooth;
  color: var(--txt);
  background: var(--bg);
}

body, html {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 2px solid var(--brd);
}

/* ------------------ Heading ----------------- */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.6em;
}

h2,.h2 {
  font-size: 2em!important;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

main {
    margin: auto;
    max-width: 450px;
    min-width: 300px;
    width: 100%;
    padding: 1rem;
    padding-top: 4rem;
    overflow-x: hidden;
}
@media (max-width: 400px) {
  main{
    min-width: none;
  }
}
._2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
/* ------------------ Footer ------------------ */
footer {
    text-align: center;
    padding: 1rem 0;
  }
/* ------------------ Navbar ------------------ */
header {
    width: 100%;
    z-index: 1;
    padding: .5rem;
}

header.fixed {
    position: fixed;
    top: 0;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--bg-nav);
    width: 100%;
    max-width: 60rem;
    margin: auto;
    z-index: 1;
    border-radius: var(--radius);
    border-bottom: 1px solid var(--bb-nav);
    padding: .4rem;
    box-shadow: var(--shadow);
}

nav * {
    margin: 0;
    padding: 0;
}

nav>ul {
    width: auto;
    list-style: none;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    overflow: unset;
}

nav>div {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li,
nav li>* {
    display: flex;
    align-items: center;
    text-align: center;
}

nav li>* {
    color: var(--txt);
    text-decoration: none;
    padding: .4rem;
    border-radius: var(--radius);
    transition: background .4s linear;
}

nav li>a:hover,
nav li>div:hover {
    color: var(--primary);
    background: var(--bg-nav-hover);
}

nav svg,nav img {
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    fill: var(--txt);
    margin: 0 auto;
    max-height: 1.7rem;
}

nav li>a:hover>svg,
nav li>div:hover>svg {
    fill: var(--primary);
}

nav>div>a>svg {
    max-height: 1.7rem;
}

nav>div>a {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}

/* ------------------- Links ------------------ */
a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
a:not([class*=btn]) {
  border-bottom: 2px solid transparent;
}
a:not([class*=btn]):hover {
  border-bottom: 2px solid currentColor;
}
._overflowhidden {
  overflow: hidden !important;
}
/* ------------------- Modal ------------------ */
.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.modal > div {
  border-radius: 0.3em;
  margin: auto;
  padding: 0.8em;
  overflow: hidden;
  width: 85vw;
    max-width: 300px;
  opacity: 0;
  background: var(--bg);
  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
.modal > div > div {
  max-width: 500px;
}
.modal > div > footer {
  text-align: end;
  padding: 0;
}
.modal > div > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal > div > header > * {
  margin: 0;
}
.modal._show-modal {
  visibility: visible;
  opacity: 1;
  z-index: 200;
}
.modal._show-modal > div {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in;
}


/* ------------------ Buttons ----------------- */
button,
[class^=btn] {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0px;
  color: var(--txt-btn);
  background-color: var(--bg-btn);
  outline: none;
  padding: 0.6rem;
  font-size: inherit;
  cursor: pointer;
  border-radius: var(--radius);
  margin: 0.5rem;
  height: 2.6rem;
  min-width: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
button:focus,
[class^=btn]:focus {
  outline: none;
}
button.mw-auto,
[class^=btn].mw-auto {
  min-width: unset;
}
button[disabled],
[class^=btn][disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
button:not([disabled]):hover,
[class^=btn]:not([disabled]):hover {
  box-shadow: var(--bg-btn-hover);
}
button.ghost,
[class^=btn].ghost {
  background: transparent;
  color: var(--txt);
  border: 2px solid var(--bg-btn);
}
button.ghost:hover,
[class^=btn].ghost:hover {
  background: var(--bg-btn);
  color: var(--txt-btn) !important;
  box-shadow: none;
}
button > svg,
[class^=btn] > svg,._icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: currentColor;
  max-height: 1.7rem;
}

.btn-transparent {
  --bg-btn: transparent;
  --txt-btn: var(--txt-r);
}

.btn-cl2 {
  --bg-btn: var(--txt-r);
  --txt-btn: var(--txt);
}

.btn-bg2 {
  --bg-btn: var(--bg2);
  --txt-btn: var(--txt);
}

.btn-black {
  --bg-btn: var(--black);
  --txt-btn: var(--white);
}

.btn-white {
  --bg-btn: var(--white);
  --txt-btn: var(--black);
}

.btn-blue {
  --bg-btn: var(--blue);
  --txt-btn: var(--txt-r);
}

.btn-red {
  --bg-btn: var(--red);
  --txt-btn: var(--txt);
}

.btn-green {
  --bg-btn: var(--green);
  --txt-btn: var(--black);
}

.btn-orange {
  --bg-btn: var(--orange);
  --txt-btn: var(--black);
}

.btn-yellow {
  --bg-btn: var(--yellow);
  --txt-btn: var(--black);
}


/* ----------- Grid columns and row ----------- */
.grid {
    flex-wrap: wrap;
  }
  
  .row, .grid {
    display: flex;
    align-items: stretch;
    margin: 1rem 0 0 0;
  }
  
  .row > [class*="col"], .row > div, .grid > [class*="col"], .grid > div {
    flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: .5rem;
  }
  
  .row > [class*="col"] > *, .row > div > *, .grid > [class*="col"] > *, .grid > div > * {
    margin: 0;
  }
  
  .row .col, .row > div, .grid .col, .grid > div {
    flex: 1 1 100%;
  }
  
  @media (max-width: 40em) {
    .row:not(.keep-width) > [class*="col"], .row:not(.keep-width) > div, .grid:not(.keep-width) > [class*="col"], .grid:not(.keep-width) > div {
      width: auto;
    }
  }

/* --------------- Toast Message -------------- */
.alert-item {
  transition: all 0.3s;
  max-width: 300px;
  padding: 0.8rem;
  width: 90vw;
  margin-bottom: 0.3rem;
  display: flex;
  background: var(--primary);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.alert-item.animate-out {
  -webkit-animation: fade-out 0.3s;
          animation: fade-out 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.alert-item.success {
  background: var(--green);
}
.alert-item.error {
  background: var(--red);
}
.alert-item.warn {
  background: var(--yellow);
}
.alert-item.info {
  background: var(--blue);
}

.alert-container {
  position: fixed;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}
.alert-container._top {
  flex-direction: column-reverse;
}
.alert-container._bottom {
  bottom: 0;
}
.alert-container._left {
  left: 0;
}
.alert-container._right {
  right: 0;
}
.alert-container._center {
  left: 50%;
  transform: translateX(-50%);
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
/* ----------------- Utilities ---------------- */

._list-box{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
._list-box>li{
    margin: 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    outline: none;
    margin: 0 auto;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 30px;
    border: 2px  var(--white) solid;
    background: var(--white);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.satcolor {
    background-color: transparent;
}

.hue,
.sat,
.light {
    box-sizing: border-box;
    border: 2px var(--txt) solid;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.hue {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.sat {
    background-image: linear-gradient(to right, #494949 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 0%);
}

.light {
    background-image: linear-gradient(to right, #000 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 100%);
}

/* ------------------- Input ------------------ */

input[type=color] {
  -webkit-appearance: none;
  border: none;
  border-radius: var(--radius);
  width: 32px;
  height: 32px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: var(--radius);
}

textarea,
input:not([type=color]):not([type=range]):not([type=radio]):not([type=checkbox]),
select {
  color: var(--txt);
  background: var(--bg-input);
  padding: 0.6rem;
  border-radius: var(--radius);
  width: 100%;
  border: 2px solid var(--brd-input);
  outline: none;
  height: 2.5rem;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

fieldset {
  margin-top: 1rem;
  border-radius: var(--radius);
  border: 2px solid var(--brd-input);
}

input:disabled, textarea:disabled {
  opacity: 0.5 !important;
  background: var(--bg-disabled) !important;
}

textarea:focus,
input:not([type=checkbox]):not([type=radio]):not([type=color]):not([type=range]):focus,
select:focus {
  box-shadow: 0 0 0 var(--focus);
}

textarea:hover,
input:not([disabled]):not([type=checkbox]):not([type=radio]):not([type=color]):not([type=range]):hover,
select:hover {
  border: 2px solid var(--primary);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--brd-input);
    background: var(--bg-input);
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform 0.3s ease, opacity 0.2s;
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    background: var(--primary);
    border-color: var(--primary);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    background: var(--bg-disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    border-color: var(--primary);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.toggle),
input[type=radio]:not(.toggle) {
    width: 21px;
  }
  input[type=checkbox]:not(.toggle):after,
input[type=radio]:not(.toggle):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.toggle):checked,
input[type=radio]:not(.toggle):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.toggle) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.toggle):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--bg-input);
    border-top: 0;
    border-left: 0;
    left: 6px;
    top: 3px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.toggle):checked {
    --r: 43deg;
  }
  input[type=checkbox].toggle {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].toggle:after {
    left: 1px;
    top: 1px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--b-brd, var(--brd-input));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].toggle:checked {
    --x: 17px;
    --b-brd: var(--bg-input);
  }
  input[type=checkbox].toggle:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: var(--bg-input);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}

[class^=with-icon] {
  position: relative;
  max-width: 150px;
  margin: auto!important;
}

[class^=with-icon] > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.with-icon-left > span {
  left: .4rem;
}

.with-icon-right > span {
  right: .4rem;
}

.with-icon-left > input {
  padding-left: 3rem !important;
}

.with-icon-right > input {
  pointer-events: none; 
  padding-right: 3rem !important;
}

.clfrt {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  border: 3px solid black;
  width: 30px;
  height: 30px;
  background: transparent;
  margin-bottom: 0.8rem;
}
._m-0{
  margin: 0;
}

/* ------------------- Card ------------------- */
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  background: var(--bg-card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.card > * {
  width: 100%;
  margin: 0;
}